
::ng-deep{
  .p-carousel-indicators{
    display: none;
  }
}
.col-2{

  .card{
    background-color: #eee;
    .link{
      font-size: 13px;
      color: black;
  &:hover{
    color:#0d6efd;
  }
    }
  }
}
