

.navbar{
  background-color:#5677fc;
  height: 68px;
}
.active{
  color: #fffc !important;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .logo{
    display: block;
  }
}


// .menu{
//   display: none;
// }
// .pageLink:hover .menu{
// display: block !important;
// }

