

.navbar{
  background-color:#5677fc;
  height: 68px;
}
.active{
  color: #fffc !important;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .logo{
    display: block;
  }
}

.dropdown-toggle::after {
  display: none;
}
.nav-link{
  color: white !important;

}
.dropdown-menu{
  margin-top: 21px;
  margin-left: -25px;
  border: 0px;
  .dropdown-item{
    color: black;
    text-align: center;
    font-size: 13px;
    &:hover{
      background-color: transparent;
      border-bottom: 1px solid #5677fc !important;
      width: fit-content;

    }
  }
}
// .menu{
//   display: none;
// }
// .pageLink:hover .menu{
// display: block !important;
// }

