 <nav class="navbar navbar-expand-lg navbar-light sticky-top">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
         data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
          aria-expanded="false"
         aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">

<ng-container *ngFor="let item of allpages">

  <app-nav-menu [navItem]="item"></app-nav-menu>
</ng-container>

        </div>


