<app-landscape-img></app-landscape-img>
<app-vision></app-vision>

<div class="happy-custommer  mt-5 py-5">
<div class="container">
  <div class="text-center ">

    <span class=" text-primary fs-1">,,</span>
    <h2 class="text-capitalize fw-light titleContent">happy custommers</h2>
    <div class="w-100 justify-content-center d-flex">

      <p class="w-75 fw-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
         magna aliquim ad minim veniam, quis nostrud

      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-12">
      <div>

      </div>
    </div>
  </div>
</div>
</div>

