
<div>
  <h6 class="text-capitalize  title">{{data.title}}</h6>

  <hr class="text-secondary" style="margin-top: -9px;">
<!-- <div class="row d-flex align-items-center">
  <div class="col-3">
    <div>
      <img [src]="data.image" class="w-100" alt="">
    </div>
    </div>

    <div class="col-9">
      <div class="content fw-medium d-flex flex-column justify-content-center">

        <a class="text-capitalize">{{data.desc}}p</a>
        <p class="mt-2">${{data.price}}</p>
      </div>
    </div>
  </div> -->
</div>

