
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active position-relative">
      <div class="container">

        <div class="row h-100  mt-5">
          <div class="col-md-6 col-12">
            <div >
              <h2 class="text-capitalize title "> cutting edge technology <b>store</b> </h2>
              <p class="w-75 pb-1 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit natus, qui maiores illum corrupti quo reiciendis nobis debitis
            </p>

                <a href="#" class="text-capitalize link border-bottom ">shop now</a>
              </div>

          </div>
          <div class="col-md-6 col-12">

        <div class="">

          <img src="/assets/imgs/1.png" class="d-block w-100" alt="...">
        </div>
      </div>
      </div>
      </div>
     <img src="/assets/imgs/sale.png" class="position-absolute " style="    top: 105px;
    right: 125px;"  alt="">
    </div>
    <div class="carousel-item " >
      <div class="container">

        <div class="row h-100  py-4 align-items-center">
          <div class="col-md-6 col-12">
            <div >
              <h2 class="text-capitalize title "> modern and just <b>captivating</b> </h2>
              <p class="w-75 pb-1 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit natus, qui maiores illum corrupti quo reiciendis nobis debitis
            </p>

                <a href="#" class="text-capitalize link border-bottom ">shop now</a>
              </div>

          </div>
          <div class="col-md-6 col-12">

        <div class="w-75 ">

          <img src="/assets/imgs/2.png" class="d-block w-100" alt="...">
        </div>
      </div>
      </div>
      </div>


    </div>
    <div class="carousel-item position-relative">
      <div class="container">

        <div class="row h-100 align-items-center">
          <div class="col-md-6 col-12">
            <div >
              <h2 class="text-capitalize title "> it's powerfull it's my <b>cyberstore</b> </h2>
              <p class="w-75 pb-1 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit natus, qui maiores illum corrupti quo reiciendis nobis debitis
            </p>

                <a href="#" class="text-capitalize link border-bottom ">shop now</a>
              </div>

          </div>
          <div class="col-md-6 col-12">

        <div class="">

          <img src="/assets/imgs/3.png" class="d-block w-100" alt="...">
        </div>
      </div>
      </div>
      </div>
      <img src="/assets/imgs/sale.png" class="position-absolute " style="top: 60px;
    right: 281px;"  alt="">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon border rounded-circle p-4 bg-white custom-arrow" aria-hidden="true"></span>
    <span class="visually-hidden">
      <i class="pi pi-angle-left fs-5"></i>
    </span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon border rounded-circle p-4 bg-white" aria-hidden="true"></span>
    <span class="visually-hidden">
      <i class="pi pi-angle-right fs-5"></i>
    </span>
  </button>
</div>
