

.para{

  font-size: 14px;
}
.card .content::after{
content: "";
position: absolute;
bottom: -29px;
    border-right: 19px solid transparent;
    border-top: 29px solid #f8f9fa;
    left: 25px;

}


