<div class="card p-3 border-end border-0 rounded-0 h-100">
  <div class="d-flex justify-content-between ">
    <a class="text-capitalize text-secondary">{{product.title}}</a>

     <a class="d-flex gap-3 text-secondary">
      <i class="pi pi-sliders-h"></i>
      <i class="pi pi-heart"></i>
    </a>

  </div>
  <div class="py-2">
    <img [src]="product.image" class="w-100" alt="">
  </div>
  <div class="d-flex gap-1">
    <i  class="text-warning  pi pi-star-fill"></i>
    <i  class="text-warning  pi pi-star-fill"></i>
    <i  class="text-warning  pi pi-star-fill"></i>
    <i  class="text-warning  pi pi-star-fill"></i>
    <i  class="text-warning  pi pi-star-fill"></i>

  </div>
  <a class="text-capitalize link fw-medium mt-1">{{product.desc}}</a>
<div class="d-flex justify-content-between align-items-center mt-1">
  <span class="fs-5 fw-medium">${{product.price}}</span>
  <a class="rounded-circle border-0 bg-secondary-subtle cart"><i class="pi
    pi-shopping-cart text-secondary d-flex align-items-center justify-content-center h-100"></i></a>
</div>
</div>
